.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: #4b4b4b;
  color: #fff;
  z-index: 1;
  padding-top: 6vh;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.icon {
  max-width: 100px;
  max-height: 100px;
}

.icon img {
  width: 100%;
  height: 100%;
}
