.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--color-black);
  color: white;
  opacity: 0.95;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.4s ease;
  transform: translateY(-100%);

  z-index: 1000;
}

.navbar.visible {
  transform: translateY(0);
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 200px;
  margin-top: 10px;
}

nav ul li {
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s;
}

nav ul li.active {
  border-bottom: 3px solid white;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: flex-end;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 100%;
    left: 0;
    background-color: var(--color-black);
    width: 100vw;
    z-index: 999;

    gap: 40px;
    padding: 0;
    margin: 0;
  }

  nav ul.menu.open {
    display: flex;
    height: 100vh;
  }

  .menu-toggle {
    display: block;
  }

  .navbar.visible {
    transform: translateY(-100%);
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
