.projects-section-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding-top: 14vh;
	background-size: cover;
	background-color: var(--color-white);
	opacity: 1;
}

.title {
	text-align: center;
	margin: 0;
	color: var(--color-black);
	font-family: monospace;
	font-size: 8em;

	margin-top: 4vh;
	margin-bottom: 6vh;
}

.subtitle {
	text-align: center;
	color: var(--color-black);
	font-family: monospace;
	font-size: 1.8em;
	opacity: 0.6;
	padding: 0 10vw;
	line-height: 2em;

	margin-bottom: 26vh;
}
.line {
	margin-bottom: 4vh;
}

.projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 6vw;
}

.project-category {
	display: flex;
	flex-direction: column;
	align-items: space-evenly;
	width: 100%;
}

.category-title {
	color: var(--color-text-main);
	font-family: monospace;
	text-align: flex-start;
	font-size: 3em;
	text-decoration: underline;
	cursor: pointer;
	margin-top: 8vh;
	margin-bottom: 12vh;
}

.arrow {
	margin-left: 1.5vw;
	transition: transform 0.4s ease;
	display: inline-block;
}

.arrow-collapsed {
	transform: rotate(0deg);
}

.arrow-expanded {
	transform: rotate(-180deg);
}

.project-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2vw;

	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: max-height 0.6s cubic-bezier(0.25, 0.1, 0.25, 1),
		opacity 0.5s ease;
}

.project-list-visible {
	max-height: 300vh;
	opacity: 1;
	transition: max-height 0.6s, opacity 0.5s ease;
}

.project-even {
	font-family: monospace;
	color: #333;
	transition: background-color 0.5s ease, border-color 0.5s ease;
	background-color: #fff;
	flex: 1 1 calc(35% - 2vw);
	box-sizing: border-box;
	max-width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border: 2px solid #a5a5a5;
	border-radius: 1vh;
	padding: 0 1.5rem 1rem 1.5rem;
	margin: 0 2rem 4rem 2rem;

	opacity: 0.7;
}
.project-odd {
	font-family: monospace;
	color: #333;
	transition: background-color 0.5s ease, border-color 0.5s ease;
	background-color: #fff;
	flex: 1 calc(30% - 2vw);
	box-sizing: border-box;
	max-width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border: 2px solid #a5a5a5;
	border-radius: 1vh;
	padding: 0 1.5rem 1rem 1.5rem;
	margin: 0 2rem 4rem 2rem;

	opacity: 0.7;
}

.project-title {
	text-align: center;
	font-size: 2em;
	margin-top: 2rem;
}

.project-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-description {
	font-size: 1.5em;
}

.project-source {
	display: flex;
	color: var(--color-link);
	font-size: 1.1em;
}

.tags {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 1em;
}

.tags .tag {
	margin: 0.5rem;
}

.project-even:hover {
	transition: background-image 0.8s ease-in, border-color 0.5s ease,
		border-style 0.5s ease;
	background-image: linear-gradient(180deg, var(--color-link), #b4f6e9);

	border-style: solid;
	opacity: 1;
	scale: 1.02;
}

.project-odd:hover {
	transition: background-image 0.8s ease-in, border-color 0.5s ease,
		border-style 0.5s ease;
	background-image: linear-gradient(180deg, var(--color-link), #b4f6e9);

	border-style: solid;
	opacity: 1;
	scale: 1.02;
}

.links-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.project {
		flex: 1 1 calc(50% - 2vw); /* 2 items per row for smaller screens */
	}
}

@media screen and (max-width: 480px) {
	.project {
		flex: 1 1 calc(100% - 2vw); /* 1 item per row for mobile screens */
	}
}
